*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
h2{
     margin-bottom: 10px;
     color: rgb(68, 0, 255);
}
.quiz-container{
    border: 1px solid;
    padding: 20px;
   
}
ul li{
    list-style: none;
    border: 1px solid;
    padding: 6px;
    cursor: pointer;
}
ul{
     display: flex;
     flex-direction: column;
    gap: 10px;
   
}
.btn{
    display: block;
   margin: 15px auto;
   padding: 7px 35px;
   cursor: pointer;
}